.red{
    color: red
}
.green{
    color:green
}
.bg-image{
    background:green;
    width:200px;
    height:100px;
}
.anh {
    background-image:url(../bai-4/images.jpg);
    width:100%;
    height:200px;
    border:5px solid black;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:top left;
    background-size:cover;
}
.xanh{
    background:green;
    border:5px solid black;
    padding: 20px 700px;
    margin-bottom:30px;
}
.do{
    background:red;
    border:5px dashed rgb(192, 184, 184);
    padding-left: 1420px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fonst{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   